<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="CATALINA_HOME" value="../logs"/>
	<contextName>SensorsServiceLogBack</contextName>
	<jmxConfigurator/>
	<property file="${catalina.base}/conf/sensors-service.properties"/>
	<!-- Not for production -->
	<!--
	   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		   <layout class="ch.qos.logback.classic.PatternLayout">
			   <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			   </Pattern>
		   </layout>
	   </appender>
	   -->


	<!-- THE CONFIG below is NEEDED to propagate the log levels to java util logging That activiti uses -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/sensors-service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${catalina.base}/logs/sensors-service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
    	</rollingPolicy>
        <encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{user}] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="dynamaps" level="DEBUG"/>
	<logger name="wire-tap" level="DEBUG"/>
	<logger name="org.hibernate.SQL" level="ERROR"/>

	<root level="WARN">
		<!-- appender-ref ref="STDOUT" /> -->
		<appender-ref ref="FILE"/>
	</root>

</configuration>
