<div class="modal-header">
    <h3 class="modal-title">Update Asset</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="addFloor">
        <div class="form-group">
            <div class="col-sm-4"><b>Floor Name:</b> {{floor.name}}</div>
            <div class="col-sm-4"><b>Asset Type Name:</b> {{asset.typeName}}</div>
            <div class="col-sm-4"><b>On Map:</b> {{asset.onMap}}</div>
        </div>
        <div class="form-group">
            <label for="assetZone" class="col-sm-2 control-label">Asset&nbsp;Zone</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="zone" id="assetZone"
                        ng-options="z.name for z in zones track by z.id">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="assetCode" class="col-sm-2 control-label">Asset&nbsp;Code</label>
            <div class="col-sm-10">
                <input ng-model="asset.code" name="assetCode" class="form-control" id="assetCode" required>
                <span style="color: red;" ng-show="addFloor.assetCode.$dirty && addFloor.assetCode.$error.required">The asset code is required.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="assetName" class="col-sm-2 control-label">Asset&nbsp;Name</label>
            <div class="col-sm-10">
                <input ng-model="asset.name" class="form-control" id="assetName">
            </div>
        </div>
        <div class="form-group" ng-show="viewTenant">
            <label for="tenant" class="col-sm-2 control-label">Tenant</label>
            <div class="col-sm-8">
                <select class="form-control" ng-model="tenant" id="tenant"
                        ng-options="person.name for person in persons track by person.id">
                </select>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-danger" type="button" ng-click="removeTenant()">
                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;
                </button>
            </div>
        </div>
        <div class="form-group" ng-show="viewTenant && !asset.onMap">
            <label for="closeBy" class="col-sm-2 control-label">Close&nbsp;By</label>
            <div class="col-sm-8">
                <select class="form-control" ng-model="closeBy" id="closeBy"
                        ng-options="asset.code for asset in assets track by asset.id">
                </select>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-danger" type="button" ng-click="removeCloseBy()">
                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;
                </button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="!addFloor.$valid">Update</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>