<h1>Floor Details</h1>
<div class="row">
    <div class="col-md-4">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-6">
                    <input ng-model="floor.name" class="form-control" placeholder="Floor Name">
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-primary" type="button" ng-click="saveFloor()">Update</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <div class="buttons">
            <button class="btn btn-default" ng-click="grabMode(false)"><i class="fa fa-edit"></i> Edit mode</button>
            <button class="btn btn-default" ng-click="grabMode(true)"><i class="fa fa-arrows"></i> Grab mode</button>
            <button class="btn btn-default" ng-click="zoomIn()"><i class="fa fa-search-plus"></i> Zoom in</button>
            <button class="btn btn-default" ng-click="zoomOut()"><i class="fa fa-search-minus"></i> Zoom out</button>
        </div>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary" type="button" ng-click="addItem()">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Item
        </button>
        <button class="btn btn-danger" type="button" ng-click="deleteObject()" ng-show="objectSelected">
            <i class="fa fa-trash" aria-hidden="true"></i> Remove
        </button>
        <button class="btn btn-primary" type="button" ng-click="updateItem()" ng-show="objectSelectedInfo !== null">
            <i class="fa fa-pencil" aria-hidden="true"></i> Update
        </button>
    </div>
    <div class="col-md-2">

    </div>

</div>
<div class="row">
    <div class="col-md-12" style="width: 100%; text-align:center;">
        <canvas id="floorMap" width="1100" height="1000" style="border:1px solid #aaa; display: inline;">
            Your browser doesn't support canvas
        </canvas>
    </div>
</div>